
<!-- 
<div [formGroup]="signupform">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">&#64;</span>
        <input type="text" class="form-control" formControlName="username" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">&#64;</span>
    <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" formControlName="password" placeholder="Password" aria-label="password" aria-describedby="addon-wrapping">
    <button type="button" class="btn btn-outline-secondary" (click)="toggleShowPassword()">
        <i class="bi {{ showPassword ? 'bi-eye-slash' : 'bi-eye' }}"></i>
    </button>
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">&#64;</span>
        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" formControlName="repassword" placeholder="Rewrite Password" aria-label="password" aria-describedby="addon-wrapping">
        <button type="button" class="btn btn-outline-secondary" (click)="toggleShowPassword()">
            <i class="bi {{ showPassword ? 'bi-eye-slash' : 'bi-eye' }}"></i>
        </button>
    </div> -->
    
    <!-- Display error message if passwords don't match -->
<!-- <div *ngIf="signupform.hasError('passwordMismatch') && signupform.get('repassword')?.dirty" class="text-danger">
    Passwords do not match.
  </div>
  
  <button class="btn btn-primary" type="submit" (click)="signinUpUser()" [disabled]="!signupform.valid || signupform.hasError('passwordMismatch')">Signup</button>
  <div>{{errmsg}}</div>
</div> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HTML5 Login Page | Smarteyeapps.com</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../login/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../login/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="../login/assets/css/style.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="col-xl-10 col-lg-11 login-container">
                <div class="row">
                    <div class="col-lg-7 img-box">
                        <img src="https://clockwise.software/img/blog/e-commerce-website-cost/header-background.webp" alt="">
                    </div>
                    <div class="col-lg-5 no-padding">
                        <div class="login-box"  [formGroup]="signupform">
                            <h5>Welcome Back!</h5>
                            <div *ngIf="signupform.hasError('passwordMismatch') && signupform.get('repassword')?.dirty" class="text-danger">
                                Passwords do not match.
                              </div>
                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-envelope"></i> User Name</label>
                                <input type="text" class="form-control form-control-sm" formControlName="username">
                            </div>
                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-unlock-alt"></i> Password</label>
                                <div class="input-group">
                                    <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control form-control-sm" formControlName="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text eye-icon" (click)="toggleShowPassword()">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-unlock-alt"></i> Password Again</label>
                                <div class="input-group">
                                    <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control form-control-sm" formControlName="repassword">
                                    <div class="input-group-append">
                                        <span class="input-group-text eye-icon" (click)="toggleShowPassword()">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                             <div class="login-row btnroo row no-margin">
                               <button class="btn btn-primary btn-sm" (click)="signinUpUser()" [disabled]="!signupform.valid || signupform.hasError('passwordMismatch')"> Sign Up</button>
                            </div>
                            <div class="login-row donroo row no-margin">
                               <p>Already have an Account ? <a href="/login">Sign In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="copyc">
        <p>Designed by <a href="https://www.smarteyeapps.com/">www.smarteyeapps.com</a></p>
    </div> -->
</body>

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="assets/js/script.js"></script>
</html>

